src/chunks/index.pug
.banner
    .banner__slider#banner-slider
        .banner__slider-item.stock
            img(src="img/banner/img-banner-1.jpg" alt="" data-object-fit="cover").banner__img
            .banner__info-wrapper
                .container
                    .banner__info
                        i.stock__icon
                            +icon("stock")
                        h2.banner__title
                            b Пропозиція від
                            | &nbsp;
                            span Retina Services
                        span.banner__text There is now an option for single sign-on with your College membership account and e-LfH. If you have not already done so you need to first register for e-LfH.
                        .banner__btn
                            a(href="/") Детальніше
        .banner__slider-item
            img(src="img/banner/img-banner-2.jpg" alt="" data-object-fit="cover").banner__img
            .banner__info-wrapper
                .container
                    .banner__info
                        i.stock__icon
                            +icon("stock")
                        h2.banner__title
                            b Вибір
                            | &nbsp;
                            span Retina Services
                        span.banner__text Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                        .banner__btn
                            a(href="#") Детальніше
    a(href="#" data-slider="slickPrev").js-slider-arrow.banner__slider-arrow
        +icon('left')
    a(href="#" data-slider="slickNext").js-slider-arrow.banner__slider-arrow
        +icon('right')
.service
    .container
        .service__wrapper
            .service__title-wrapper
                h2.title Послуги
                h3.subtitle пропонуємо наступні послуги
            .service__info
                form.form#form-1
                    label.form__label
                        span ваше ім’я
                        input(type="name" name="name").form__input
                    label.form__label
                        span номер телефону
                        input(type="tel" name="tel" placeholder="+38 (---) --- -- --").form__input
                    input(type="submit" value="Записати на прийом").form__btn
                .service__block
                    .service__block-item
                        .service__block-head
                            .service__block-icon.icon-1
                                +icon('service-1')
                            span Діагностика
                        span.service__block-text Although there is a separate Login for e-Learning for Healthcare, College Members may now LINK the two
                        a(href="#").service__block-link Докладніше
                    .service__block-item
                        .service__block-head
                            .service__block-icon.icon-2
                                +icon('service-2')
                            span Лінзи
                        span.service__block-text Single sign-on with your College membership account and e-LfH. If you have not already done so you need.
                        a(href="#").service__block-link Докладніше
                    .service__block-item
                        .service__block-head
                            .service__block-icon.icon-3
                                +icon('service-3')
                            span Дитяча офтальмологія
                        span.service__block-text If you have not already done so you need to first register for e-LfH. The next time you come to the College website
                        a(href="#").service__block-link Докладніше
                    .service__block-item
                        .service__block-head
                            .service__block-icon.icon-4
                                +icon('service-4')
                            span Аналітика стану ока
                        span.service__block-text The next time you come to the College website and login as a member a link will appear below which
                        a(href="#").service__block-link Докладніше
                    .service__block-item
                        .service__block-head
                            .service__block-icon.icon-5
                                +icon('service-5')
                            span Ще щось поки не відомо
                        span.service__block-text The next time you come to the College website and login as a member a link will appear below which
                        a(href="#").service__block-link Докладніше
.doctors
    .container
        .doctors__wrapper
            .doctors__title.mobile
                h2.title.title--white Лікарі
                h3.subtitle.subtitle--white завжди допоможуть і дадуть корисну рекомендацію
            .doctors__who
                a(href="#").doctors__who-item
                    .doctors__who-img
                        img(src="img/doctors/doctors-1.png" alt="" data-object-fit="cover")
                    span.doctors__who-title Eyes Beholder
                    span.doctors__who-text лікар-офтальмолог
                    .doctors__who-fb
                        i.fab.fa-facebook-f
                a(href="#").doctors__who-item
                    .doctors__who-img
                        img(src="img/doctors/doctors-2.png" alt="" data-object-fit="cover")
                    span.doctors__who-title Absolute Vision
                    span.doctors__who-text лікар-офтальмолог
                    .doctors__who-fb
                        i.fab.fa-facebook-f
                a(href="#").doctors__who-item
                    .doctors__who-img
                        img(src="img/doctors/doctors-3.png" alt="" data-object-fit="cover")
                    span.doctors__who-title Aisee Jooy
                    span.doctors__who-text лікар-офтальмолог
                    .doctors__who-fb
                        i.fab.fa-facebook-f
                a(href="#").doctors__who-item
                    .doctors__who-img
                        img(src="img/doctors/doctors-4.png" alt="" data-object-fit="cover")
                    span.doctors__who-title Eynspector Dude
                    span.doctors__who-text лікар-офтальмолог
                    .doctors__who-fb
                        i.fab.fa-facebook-f
            .doctors__form
                h2.title.title--white Лікарі
                h3.subtitle.subtitle--white завжди допоможуть і дадуть корисну рекомендацію
                form.form#form-2
                    label.form__label
                        span ваше ім’я
                        input(type="name" name="name").form__input
                    label.form__label
                        span номер телефону
                        input(type="tel" name="tel" placeholder="+38 (---) --- -- --").form__input
                    input(type="submit" value="Передзвоніть мені").form__btn
.sun
    .container
        .sun__wrapper
            h2.title СОНЦЕЗАХИСНІ ОКУЛЯРИ
            h3.subtitle Ви можете у нас купити брендові окуляри
            .sun__glasses
                .sun__glasses-item
                    +icon("Ray-Ban")
                .sun__glasses-item
                    +icon("Pierre-cardin")
                .sun__glasses-item
                    +icon("MaxMara")
                .sun__glasses-item
                    +icon("Givenchy")
                .sun__glasses-item
                    +icon("Guess")
                .sun__glasses-item
                    +icon("Fendt")
                .sun__glasses-item
                    +icon("Gucci")
                .sun__glasses-item
                    +icon("DIOR")
                .sun__glasses-item
                    +icon("Carrera")
.reviews
    .container
        .reviews__wrapper
            h2.title Відгуки
            h3.subtitle що про нас пишуть люди
            .reviews__block#reviews-slider
                .reviews__item
                    .reviews__item-icon
                        +icon('ico-review')
                    span.reviews__item-title Eric Oakervahl
                    span.reviews__item-subtitle Ай-ТІ працівник
                    p.reviews__item-text Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.
                    a(href="#").reviews__item-link Читати все...
                .reviews__item
                    .reviews__item-icon
                        +icon('ico-review')
                    span.reviews__item-title Eric Oakervahl
                    span.reviews__item-subtitle Ай-ТІ працівник
                    p.reviews__item-text Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.
                    a(href="#").reviews__item-link Читати все...
                .reviews__item
                    .reviews__item-icon
                        +icon('ico-review')
                    span.reviews__item-title Eric Oakervahl
                    span.reviews__item-subtitle Ай-ТІ працівник
                    p.reviews__item-text Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.
                    a(href="#").reviews__item-link Читати все...
                .reviews__item
                    .reviews__item-icon
                        +icon('ico-review')
                    span.reviews__item-title Eric Oakervahl
                    span.reviews__item-subtitle Ай-ТІ працівник
                    p.reviews__item-text Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.
                    a(href="#").reviews__item-link Читати все...
                .reviews__item
                    .reviews__item-icon
                        +icon('ico-review')
                    span.reviews__item-title Eric Oakervahl
                    span.reviews__item-subtitle Ай-ТІ працівник
                    p.reviews__item-text Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.
                    a(href="#").reviews__item-link Читати все...
            .reviews__slider-arrows
                a(href="#" data-slider="slickPrev").js-reviews-arrow
                    +icon('left')
                a(href="#" data-slider="slickNext").js-reviews-arrow
                    +icon('right')

dist/index.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/ie-detector.js"></script>
    <script src="js/modernizr.js"></script><!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
  </head>
  <div class="page-wrapper" id="page-wrapper">
    <header class="wrapper header" id="header">
      <div class="container">
        <div class="header__wrapper"><a class="logo" href="/">
            <svg class="icon icon-logo ">
              <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
            </svg></a>
          <div class="header__info">
            <div class="header__info-item">
              <div class="header__tel"><a href="tel:+380006001204">+38 (000) 600-12-04</a></div>
              <div class="header__reception"><a class="js-call" href="#"><i class="fas fa-phone-alt"></i><span>Записатися на прийом</span></a></div>
            </div>
            <div class="header__info-item">
              <div class="header__location"><i class="fas fa-map-marker-alt"></i><span>м.Хмельницький, Проскурівська 74/А</span></div>
              <div class="header__time"><i class="fas fa-clock"></i><span>9:00 - 20:00</span></div>
            </div>
            <div class="header__info-item">
              <div class="header__soc"><span>Ми у мережі</span>
                <div class="header__soc-wrapper"><a class="fab fa-facebook-square" href="#"></a><a class="fab fa-instagram-square" href="#"></a><a class="fab fa-youtube-square" href="#"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__form">
        <form class="form" id="form-3"><a class="form__close close-form" href="#">
            <svg class="icon icon-ico-close ">
              <use xlink:href="img/svgsprite/sprite.svg#ico-close"></use>
            </svg></a>
          <label class="form__label"><span>ваше ім’я</span>
            <input class="form__input" type="name" name="name">
          </label>
          <label class="form__label"><span>номер телефону</span>
            <input class="form__input" type="tel" name="tel" placeholder="+38 (---) --- -- --" required>
          </label>
          <input class="form__btn" type="submit" value="Передзвоніть мені">
        </form>
      </div>
    </header>
    <div class="page-body" id="page-body">
      <div class="banner">
        <div class="banner__slider" id="banner-slider">
          <div class="banner__slider-item stock"><img class="banner__img" src="img/banner/img-banner-1.jpg" alt="" data-object-fit="cover">
            <div class="banner__info-wrapper">
              <div class="container">
                <div class="banner__info"><i class="stock__icon">
                    <svg class="icon icon-stock ">
                      <use xlink:href="img/svgsprite/sprite.svg#stock"></use>
                    </svg></i>
                  <h2 class="banner__title"><b>Пропозиція від</b>&nbsp;<span>Retina Services</span></h2><span class="banner__text">There is now an option for single sign-on with your College membership account and e-LfH. If you have not already done so you need to first register for e-LfH.</span>
                  <div class="banner__btn"><a href="/">Детальніше</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner__slider-item"><img class="banner__img" src="img/banner/img-banner-2.jpg" alt="" data-object-fit="cover">
            <div class="banner__info-wrapper">
              <div class="container">
                <div class="banner__info"><i class="stock__icon">
                    <svg class="icon icon-stock ">
                      <use xlink:href="img/svgsprite/sprite.svg#stock"></use>
                    </svg></i>
                  <h2 class="banner__title"><b>Вибір</b>&nbsp;<span>Retina Services</span></h2><span class="banner__text">Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,</span>
                  <div class="banner__btn"><a href="#">Детальніше</a></div>
                </div>
              </div>
            </div>
          </div>
        </div><a class="js-slider-arrow banner__slider-arrow" href="#" data-slider="slickPrev">
          <svg class="icon icon-left ">
            <use xlink:href="img/svgsprite/sprite.svg#left"></use>
          </svg></a><a class="js-slider-arrow banner__slider-arrow" href="#" data-slider="slickNext">
          <svg class="icon icon-right ">
            <use xlink:href="img/svgsprite/sprite.svg#right"></use>
          </svg></a>
      </div>
      <div class="service">
        <div class="container">
          <div class="service__wrapper">
            <div class="service__title-wrapper">
              <h2 class="title">Послуги</h2>
              <h3 class="subtitle">пропонуємо наступні послуги</h3>
            </div>
            <div class="service__info">
              <form class="form" id="form-1">
                <label class="form__label"><span>ваше ім’я</span>
                  <input class="form__input" type="name" name="name">
                </label>
                <label class="form__label"><span>номер телефону</span>
                  <input class="form__input" type="tel" name="tel" placeholder="+38 (---) --- -- --">
                </label>
                <input class="form__btn" type="submit" value="Записати на прийом">
              </form>
              <div class="service__block">
                <div class="service__block-item">
                  <div class="service__block-head">
                    <div class="service__block-icon icon-1">
                      <svg class="icon icon-service-1 ">
                        <use xlink:href="img/svgsprite/sprite.svg#service-1"></use>
                      </svg>
                    </div><span>Діагностика</span>
                  </div><span class="service__block-text">Although there is a separate Login for e-Learning for Healthcare, College Members may now LINK the two</span><a class="service__block-link" href="#">Докладніше</a>
                </div>
                <div class="service__block-item">
                  <div class="service__block-head">
                    <div class="service__block-icon icon-2">
                      <svg class="icon icon-service-2 ">
                        <use xlink:href="img/svgsprite/sprite.svg#service-2"></use>
                      </svg>
                    </div><span>Лінзи</span>
                  </div><span class="service__block-text">Single sign-on with your College membership account and e-LfH. If you have not already done so you need.</span><a class="service__block-link" href="#">Докладніше</a>
                </div>
                <div class="service__block-item">
                  <div class="service__block-head">
                    <div class="service__block-icon icon-3">
                      <svg class="icon icon-service-3 ">
                        <use xlink:href="img/svgsprite/sprite.svg#service-3"></use>
                      </svg>
                    </div><span>Дитяча офтальмологія</span>
                  </div><span class="service__block-text">If you have not already done so you need to first register for e-LfH. The next time you come to the College website</span><a class="service__block-link" href="#">Докладніше</a>
                </div>
                <div class="service__block-item">
                  <div class="service__block-head">
                    <div class="service__block-icon icon-4">
                      <svg class="icon icon-service-4 ">
                        <use xlink:href="img/svgsprite/sprite.svg#service-4"></use>
                      </svg>
                    </div><span>Аналітика стану ока</span>
                  </div><span class="service__block-text">The next time you come to the College website and login as a member a link will appear below which</span><a class="service__block-link" href="#">Докладніше</a>
                </div>
                <div class="service__block-item">
                  <div class="service__block-head">
                    <div class="service__block-icon icon-5">
                      <svg class="icon icon-service-5 ">
                        <use xlink:href="img/svgsprite/sprite.svg#service-5"></use>
                      </svg>
                    </div><span>Ще щось поки не відомо</span>
                  </div><span class="service__block-text">The next time you come to the College website and login as a member a link will appear below which</span><a class="service__block-link" href="#">Докладніше</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="doctors">
        <div class="container">
          <div class="doctors__wrapper">
            <div class="doctors__title mobile">
              <h2 class="title title--white">Лікарі</h2>
              <h3 class="subtitle subtitle--white">завжди допоможуть і дадуть корисну рекомендацію</h3>
            </div>
            <div class="doctors__who"><a class="doctors__who-item" href="#">
                <div class="doctors__who-img"><img src="img/doctors/doctors-1.png" alt="" data-object-fit="cover"></div><span class="doctors__who-title">Eyes Beholder</span><span class="doctors__who-text">лікар-офтальмолог</span>
                <div class="doctors__who-fb"><i class="fab fa-facebook-f"></i></div></a><a class="doctors__who-item" href="#">
                <div class="doctors__who-img"><img src="img/doctors/doctors-2.png" alt="" data-object-fit="cover"></div><span class="doctors__who-title">Absolute Vision</span><span class="doctors__who-text">лікар-офтальмолог</span>
                <div class="doctors__who-fb"><i class="fab fa-facebook-f"></i></div></a><a class="doctors__who-item" href="#">
                <div class="doctors__who-img"><img src="img/doctors/doctors-3.png" alt="" data-object-fit="cover"></div><span class="doctors__who-title">Aisee Jooy</span><span class="doctors__who-text">лікар-офтальмолог</span>
                <div class="doctors__who-fb"><i class="fab fa-facebook-f"></i></div></a><a class="doctors__who-item" href="#">
                <div class="doctors__who-img"><img src="img/doctors/doctors-4.png" alt="" data-object-fit="cover"></div><span class="doctors__who-title">Eynspector Dude</span><span class="doctors__who-text">лікар-офтальмолог</span>
                <div class="doctors__who-fb"><i class="fab fa-facebook-f"></i></div></a></div>
            <div class="doctors__form">
              <h2 class="title title--white">Лікарі</h2>
              <h3 class="subtitle subtitle--white">завжди допоможуть і дадуть корисну рекомендацію</h3>
              <form class="form" id="form-2">
                <label class="form__label"><span>ваше ім’я</span>
                  <input class="form__input" type="name" name="name">
                </label>
                <label class="form__label"><span>номер телефону</span>
                  <input class="form__input" type="tel" name="tel" placeholder="+38 (---) --- -- --">
                </label>
                <input class="form__btn" type="submit" value="Передзвоніть мені">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="sun">
        <div class="container">
          <div class="sun__wrapper">
            <h2 class="title">СОНЦЕЗАХИСНІ ОКУЛЯРИ</h2>
            <h3 class="subtitle">Ви можете у нас купити брендові окуляри</h3>
            <div class="sun__glasses">
              <div class="sun__glasses-item">
                <svg class="icon icon-Ray-Ban ">
                  <use xlink:href="img/svgsprite/sprite.svg#Ray-Ban"></use>
                </svg>
              </div>
              <div class="sun__glasses-item">
                <svg class="icon icon-Pierre-cardin ">
                  <use xlink:href="img/svgsprite/sprite.svg#Pierre-cardin"></use>
                </svg>
              </div>
              <div class="sun__glasses-item">
                <svg class="icon icon-MaxMara ">
                  <use xlink:href="img/svgsprite/sprite.svg#MaxMara"></use>
                </svg>
              </div>
              <div class="sun__glasses-item">
                <svg class="icon icon-Givenchy ">
                  <use xlink:href="img/svgsprite/sprite.svg#Givenchy"></use>
                </svg>
              </div>
              <div class="sun__glasses-item">
                <svg class="icon icon-Guess ">
                  <use xlink:href="img/svgsprite/sprite.svg#Guess"></use>
                </svg>
              </div>
              <div class="sun__glasses-item">
                <svg class="icon icon-Fendt ">
                  <use xlink:href="img/svgsprite/sprite.svg#Fendt"></use>
                </svg>
              </div>
              <div class="sun__glasses-item">
                <svg class="icon icon-Gucci ">
                  <use xlink:href="img/svgsprite/sprite.svg#Gucci"></use>
                </svg>
              </div>
              <div class="sun__glasses-item">
                <svg class="icon icon-DIOR ">
                  <use xlink:href="img/svgsprite/sprite.svg#DIOR"></use>
                </svg>
              </div>
              <div class="sun__glasses-item">
                <svg class="icon icon-Carrera ">
                  <use xlink:href="img/svgsprite/sprite.svg#Carrera"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews">
        <div class="container">
          <div class="reviews__wrapper">
            <h2 class="title">Відгуки</h2>
            <h3 class="subtitle">що про нас пишуть люди</h3>
            <div class="reviews__block" id="reviews-slider">
              <div class="reviews__item">
                <div class="reviews__item-icon">
                  <svg class="icon icon-ico-review ">
                    <use xlink:href="img/svgsprite/sprite.svg#ico-review"></use>
                  </svg>
                </div><span class="reviews__item-title">Eric Oakervahl</span><span class="reviews__item-subtitle">Ай-ТІ працівник</span>
                <p class="reviews__item-text">Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.</p><a class="reviews__item-link" href="#">Читати все...</a>
              </div>
              <div class="reviews__item">
                <div class="reviews__item-icon">
                  <svg class="icon icon-ico-review ">
                    <use xlink:href="img/svgsprite/sprite.svg#ico-review"></use>
                  </svg>
                </div><span class="reviews__item-title">Eric Oakervahl</span><span class="reviews__item-subtitle">Ай-ТІ працівник</span>
                <p class="reviews__item-text">Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.</p><a class="reviews__item-link" href="#">Читати все...</a>
              </div>
              <div class="reviews__item">
                <div class="reviews__item-icon">
                  <svg class="icon icon-ico-review ">
                    <use xlink:href="img/svgsprite/sprite.svg#ico-review"></use>
                  </svg>
                </div><span class="reviews__item-title">Eric Oakervahl</span><span class="reviews__item-subtitle">Ай-ТІ працівник</span>
                <p class="reviews__item-text">Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.</p><a class="reviews__item-link" href="#">Читати все...</a>
              </div>
              <div class="reviews__item">
                <div class="reviews__item-icon">
                  <svg class="icon icon-ico-review ">
                    <use xlink:href="img/svgsprite/sprite.svg#ico-review"></use>
                  </svg>
                </div><span class="reviews__item-title">Eric Oakervahl</span><span class="reviews__item-subtitle">Ай-ТІ працівник</span>
                <p class="reviews__item-text">Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.</p><a class="reviews__item-link" href="#">Читати все...</a>
              </div>
              <div class="reviews__item">
                <div class="reviews__item-icon">
                  <svg class="icon icon-ico-review ">
                    <use xlink:href="img/svgsprite/sprite.svg#ico-review"></use>
                  </svg>
                </div><span class="reviews__item-title">Eric Oakervahl</span><span class="reviews__item-subtitle">Ай-ТІ працівник</span>
                <p class="reviews__item-text">Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.</p><a class="reviews__item-link" href="#">Читати все...</a>
              </div>
            </div>
            <div class="reviews__slider-arrows"><a class="js-reviews-arrow" href="#" data-slider="slickPrev">
                <svg class="icon icon-left ">
                  <use xlink:href="img/svgsprite/sprite.svg#left"></use>
                </svg></a><a class="js-reviews-arrow" href="#" data-slider="slickNext">
                <svg class="icon icon-right ">
                  <use xlink:href="img/svgsprite/sprite.svg#right"></use>
                </svg></a></div>
          </div>
        </div>
      </div>
    </div>
    <footer class="wrapper footer" id="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__adress">
            <div class="footer__adress-item"><span class="footer__adress-title">Адреса №1</span>
              <div class="footer__location"><i class="fas fa-map-marker-alt"></i><span>м.Хмельницький, Проскурівська 74/А</span></div>
              <div class="footer__time"><i class="fas fa-clock"></i><span>Пн-Пт: 9:00 - 20:00</span></div>
              <div class="footer__phone"><i class="fas fa-phone-alt"></i><a href="tel:+380006001204">+38 (000) 600-12-04</a><a href="tel:+380006001204">+38 (000) 600-12-04</a></div>
              <div class="footer__adress-img"><img src="img/img-footer-adress.jpg" alt="" data-object-fit="cover"></div>
              <div class="footer__adress-map"><img src="img/map.jpg" alt="" data-object-fit="cover"></div>
            </div>
            <div class="footer__adress-item"><span class="footer__adress-title">Адреса №2</span>
              <div class="footer__location"><i class="fas fa-map-marker-alt"></i><span>м.Хмельницький, Інша Вулиця 12</span></div>
              <div class="footer__time"><i class="fas fa-clock"></i><span>Пн-Пт: 9:00 - 20:00</span></div>
              <div class="footer__phone"><i class="fas fa-phone-alt"></i><a href="tel:+380006001204">+38 (000) 600-12-04</a><a href="tel:+380006001204">+38 (000) 600-12-04</a></div>
              <div class="footer__adress-img"><img src="img/img-footer-adress.jpg" alt="" data-object-fit="cover"></div>
              <div class="footer__adress-map"><img src="img/map.jpg" alt="" data-object-fit="cover"></div>
            </div>
          </div>
          <div class="footer__title">
            <h2 class="title title--white">Адреси</h2>
            <h3 class="subtitle subtitle--white">будемо раді Вас бачити</h3>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- inject:js -->
<!-- endinject -->
<!-- build:js -->
  <script src="js/libs.js"></script>
  <script src="//localhost:35729/livereload.js"></script><!-- endbuild -->
  <script src="js/common.js"></script>
</html>
